<%= javascript_include_tag "pagination" %>

<% if logged_in? && current_user.activated? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class="todo_post_form">
        <%= render 'shared/todo_post_form' %>
      </section>
      <%= render 'static_pages/tag_cloud' %>
    </aside>

    <div class="col-md-8">
      <% if !@user.nil? && @user.todo_posts.any? %>
        <h1> <%= @header %> </h1>
        <%= render 'static_pages/search_bar' %>
        <ol id="todo_posts" class="todo_posts">
          <%= render 'todo_posts/todo_posts' %>
        </ol>
      <% end %>
    </div>
  </div>
<% else %>
  <%= render partial: "welcome_page" %>
<% end %>
