<li id="<%= (todo_post.completed? ? "completed_" : "remaining_") + todo_post.id.to_s %>">
  <span class="<%=todo_post.completed? ? "description_completed" : "description"%>">
    <%= todo_post.description %>
  </span> <br />

  <% if !todo_post.category.empty? %>
    <span class="<%=todo_post.completed? ? "subject_completed" : "subject"%>">
      Tags: <%= raw todo_post.category.map { |t| link_to t.name, tag_path(t.name) }.join(", ") %>
    </span> <br />
  <% end %>

  <% if !todo_post.due_date.nil? %>
    <span class="<%=todo_post.completed? ? "due_date_completed" : "due_date"%>">
      <%= todo_post.due_date.strftime("Due on %d/%m/%Y") %>
    </span> <br />
  <% end %>

  <span class="<%=todo_post.completed? ? "timestamp_completed" : "timestamp"%>">
    <%= todo_post.completed? ? "Completed " + time_ago_in_words(todo_post.completed_at)
                :  "Created " + time_ago_in_words(todo_post.created_at) %> ago.
    <% if current_user?(todo_post.user) %>

        <%= link_to edit_todo_post_path(todo_post) do %>
          <%= icon('pencil', class: 'fa-1x') %>
        <% end %>

        <% if !todo_post.completed? %>
          <%= link_to complete_todo_post_path(todo_post), method: :patch, id: "complete_tick" do %>
            <%= icon('check', class: 'fa-1x') %>
          <% end %>
        <% end %>

        <%= link_to todo_post, method: :delete,
          data: {confirm: "You sure?" }, remote: true do %>

          <%= icon('trash', class: 'fa-1x') %>
        <% end %>
    <% end %>
  </span>
</li>
