<%= form_for(@todo_post) do |f| %>
  <!-- <%= render 'shared/error_messages', object: f.object %> -->
  <div class="field">
    <%= f.label :tag_list, "Category (Optional)" %>
    <%= f.text_area :tag_list%>

    <%= f.label :description, "Task's description" %>
    <%= f.text_area :description, placeholder: "Compose new task..."%>

    <%= f.label :due_date %>
    <%= f.text_field :due_date, placeholder: "DD-MM-YYYY",
                     'data-behaviour' => 'datepicker' %>
  </div>
  <%= f.submit "Submit", class: "btn btn-primary" %>
<% end %>
